<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.score.mapper.ScoreMapper">
    
    <select id="getScore" parameterType="java.lang.Integer" resultType="ScoreVO">
        SELECT
            ts.id, tu.real_name AS realName, tc.competition_name AS competitionName, ts.competition_score AS competitionScore,
            ts.competition_rank AS competitionRank, ts.score_status AS scoreStatus, tu.id AS userId
        FROM t_competition_score ts
        JOIN t_user tu ON ts.user_id = tu.id AND tu.del_status = 0
        JOIN t_competition tc ON ts.competition_id = tc.id AND tc.del_status = 0
        WHERE ts.id = #{scoreId} AND ts.del_status = 0
    </select>

    <select id="getScores" resultType="ScoreListVO">
        SELECT
            ts.id, tu.real_name AS realName, tc.competition_name AS competitionName, ts.competition_score AS competitionScore,
            ts.competition_rank AS competitionRank, ts.score_status AS scoreStatus, tu.id AS userId
        FROM t_competition_score ts
        JOIN t_user tu ON ts.user_id = tu.id AND tu.del_status = 0
        JOIN t_competition tc ON ts.competition_id = tc.id AND tc.del_status = 0
        WHERE ts.del_status = 0
    </select>
    
    <update id="deleteScoreByCompetitionId" parameterType="java.lang.Integer">
        UPDATE t_competition_score SET del_status = 1 WHERE competition_id = #{competitionId}
    </update>

</mapper>