<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.RoleMapper">
    
    <select id="getRoles" resultMap="RoleResultMap">
        SELECT
            r.id,
            r.role_code AS roleCode,
            r.role_name AS roleName,
            tp.id AS permissionId,
            tp.permission_name AS permissionName
        FROM t_role r
        LEFT JOIN t_role_permission trp ON r.id = trp.role_id
            AND trp.del_status = 0
        LEFT JOIN t_permission tp ON trp.permission_id = tp.id
            AND tp.del_status = 0
        WHERE r.del_status = 0
    </select>

    <resultMap id="RoleResultMap" type="RoleListVO">
        <id property="id" column="id" />
        <result property="roleCode" column="roleCode" />
        <result property="roleName" column="roleName" />
        
        <collection property="permissions" ofType="PermissionVO">
            <id property="id" column="permissionId" />
            <result property="label" column="permissionName" />
        </collection>
    </resultMap>
    
</mapper>