<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.RoleMapper">
    
    <select id="getRoles" resultType="RoleListVO">
        SELECT
            r.id,
            r.role_code AS roleCode,
            r.role_name AS roleName
        FROM t_role r
        WHERE r.del_status = 0
    </select>
    
    <select id="getRolePermissionByRoleId" parameterType="java.lang.Integer" resultType="UserPermissionVO">
        SELECT
            tp.id AS id,
            tp.permission_name AS label
        FROM
            t_role_permission trp
        JOIN t_permission tp ON
            trp.permission_id = tp.id
            AND tp.del_status = 0
        WHERE
            trp.del_status = 0
            AND trp.role_id = #{roleId}
    </select>
    
</mapper>