<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.UserRoleMapper">
    
    <select id="getUserRoles" resultType="UserRoleListVO">
        SELECT ur.id, ur.user_id AS userId, ur.role_id AS roleId, r.role_name AS roleName
        FROM t_user_role ur 
        JOIN t_role r ON ur.role_id = r.id AND r.del_status = 0
        WHERE ur.del_status = 0
    </select>
    
    <select id="getUserRoleByUserId" parameterType="java.lang.Integer" resultType="UserRoleVO">
        SELECT
            tr.id, tr.role_name AS label
        FROM
            t_user_role ur
        JOIN t_role tr ON
            ur.role_id = tr.id
            AND tr.del_status = 0
        WHERE
            ur.del_status = 0
            AND user_id = #{userId}
    </select>
    
</mapper>