<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.UserRegisterMapper">

    <select id="getUserByUsername" parameterType="java.lang.String" resultType="User">
        SELECT username AS username 
        FROM t_user 
        WHERE username = #{username} 
          AND del_status = 0
    </select>
    
    <select id="getUserByPhone" parameterType="java.lang.String" resultType="User">
        SELECT phone AS phone 
        FROM t_user 
        WHERE phone = #{phone}
          AND del_status = 0
    </select>

</mapper>