<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.UserInfoMapper">

    <select id="getUserInfoById" parameterType="java.lang.Integer" resultType="UserVO">
        SELECT id AS userId, user_name AS userName, age, sex, real_name AS realName, phone_number AS phoneNumber
        FROM t_user
        WHERE id = #{userId} AND del_status = 0
    </select>

    <select id="getUserList" resultType="UserListVO">
        SELECT id AS userId, user_name AS userName, age, sex, real_name AS realName, phone_number AS phoneNumber
        FROM t_user
        WHERE del_status = 0
    </select>
    
    <update id="deleteUserInfoById" parameterType="java.lang.Integer">
        UPDATE t_user SET del_status = 1 WHERE id = #{userId}
    </update>
    
    <update id="updateUserInfo" parameterType="User">
        UPDATE t_user SET age = #{user.age}, sex = #{user.sex}, real_name = #{user.realName}, 
                          phone_number = #{user.phoneNumber}, update_time = #{user.updateTime}
        WHERE id = #{user.id}
    </update>
    
    <select id="getUserById" parameterType="java.lang.Integer" resultType="User">
        SELECT id, age, sex, real_name, phone_number FROM t_user WHERE id = #{userId}
    </select>
    
</mapper>