<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.register.mapper.RegisterMapper">
    
    <select id="getRegister" parameterType="java.lang.Integer" resultType="RegisterVO">
        SELECT 
            tr.id, tu.real_name AS registerName, tc.competition_name AS competitionName, tr.audit_status AS auditStatus
        FROM t_register tr
        JOIN t_user tu ON tr.user_id = tu.id AND tu.del_status = 0
        JOIN t_competition tc ON tr.competition_id = tc.id AND tc.del_status = 0
        WHERE tr.id = #{registerId} AND tr.del_status = 0
    </select>

    <select id="getRegisters" resultType="RegisterListVO">
        SELECT
            tr.id, tu.real_name AS registerName, tc.competition_name AS competitionName, tr.audit_status AS auditStatus
        FROM t_register tr
        JOIN t_user tu ON tr.user_id = tu.id AND tu.del_status = 0
        JOIN t_competition tc ON tr.competition_id = tc.id AND tc.del_status = 0
        WHERE tr.del_status = 0
    </select>

</mapper>